 *{
    padding:0;
    margin:0;
    background-color: #0a0a23;
    color:#d0d0d5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}
h1{
    font-size:200%;
}

div{
    text-align:center;
    padding-top: 14%; 
}
.profile_pic{
    border-radius: 100px;
    /* padding-top: 15%; */
}
